@model SodruzhestvoFinance.Areas.Employees.Models.Employee

@{
    ViewData["Title"] = "Удалить сотрудника";
    Layout = "_Layout";
}

<h1>Удалить сотрудника</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
    </dl>

    <form asp-area="Employees" asp-controller="Employees" asp-action="DeleteConfirmed" asp-route-id="@Model.EmployeeId" method="post">
        <input type="hidden" asp-for="EmployeeId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-area="Employees" asp-controller="Employees" asp-action="Index">Вернуться к списку</a>
    </form>
</div>