@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model SodruzhestvoFinance.Areas.Employees.Models.Employee

@{
    ViewData["Title"] = "Редактировать сотрудника";
    Layout = "_Layout";
}

<h1>Редактировать сотрудника</h1>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@using (Html.BeginForm("EditSave", "Employees", new { id = Model.EmployeeId, area = "Employees" }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.EmployeeId) <!-- Это обязательно, чтобы id передавался -->

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
    </div>

    @if (Model.Salary == null)
    {

    }
    else
    {


    }

    <div class="form-group">
        @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label" })
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">₽</span>
            </div>
            @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control"} })
        </div>
        @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ContactPhone, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.ContactPhone, new { htmlAttributes = new { @class = "form-control", type = "tel" } })
        @Html.ValidationMessageFor(model => model.ContactPhone, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval") // Подключаем jQuery Validation

    <script>
        $(document).ready(function () {
            // Форматирование при вводе
            $('.salary-input').on('input', function () {
                // Удаляем все символы, кроме цифр
                var value = $(this).val().replace(/[^0-9]/g, '');

                // Форматируем число с разделителями тысяч (необязательно)
                // value = value.replace(/\B(?=(\d{3})+(?!\d))/g, " ");

                $(this).val(value);
            });

            // Валидация перед отправкой формы (используем jQuery Validation)
            $('form').submit(function (event) {
                // Проверяем, что поле Salary содержит только цифры
                if (!/^\d+$/.test($('.salary-input').val())) {
                    alert('Пожалуйста, введите корректное число для зарплаты.');
                    event.preventDefault(); // Предотвращаем отправку формы
                }
            });
        });
    </script>
}