@using System.Globalization;
@{
    ViewData["Title"] = "Пайщики";
    Layout = "_Layout";
}

@model IEnumerable<SodruzhestvoFinance.Areas.Employees.Models.Employee>

<h1>Пайщики</h1>

@using (Html.BeginForm("EmployeeCreationPage", "Employees", FormMethod.Get, new { @class = "mb-3" }))
{
    <button type="submit" class="btn btn-sm btn-success">Создать нового сотрудника</button>
}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Телефон</th>
            <th>Зарплата</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @($"{item.LastName} {item.FirstName} {item.MiddleName}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactPhone)
                </td>
                <td>
                    @if (item.Salary.HasValue)
                    {
                        @item.Salary.Value.ToString("C", CultureInfo.CurrentCulture)
                    }
                </td>
                <td>
                    <div class="d-flex">
                        <div class="mx-2">
                            @using (Html.BeginForm("Edit", "Employees", FormMethod.Get))
                            {
                                @Html.Hidden("id", item.EmployeeId)
                                <button type="submit" class="btn btn-sm btn-primary mr-3">Редактировать</button>
                            }
                        </div>
                        <div class="mx-2">
                            @using (Html.BeginForm("Delete", "Employees", FormMethod.Post, new { id = item.EmployeeId }))
                            {
                                @Html.Hidden("id", item.EmployeeId)
                                <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                            }
                        </div>
                        @* Доделать позже, доп информация о сотруднике *@
                        @* @using (Html.BeginForm("Details", "Employees", FormMethod.Get, new { id = item.EmployeeId }))
                        {
                            @Html.Hidden("id", item.EmployeeId)
                            <button type="submit" class="btn btn-sm btn-info mr-3">Детали</button>
                        } *@
                        
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>