@{
    ViewData["Title"] = "Список займов";
    Layout = "_Layout";
}

@model IEnumerable<SodruzhestvoFinance.Areas.Loan.Models.Loan>


<h1>Список займов</h1>

@using (Html.BeginForm("Create", "Loan", FormMethod.Get))
{
    <button type="submit" class="btn btn-sm btn-primary mr-3">Редактировать</button>
}

<p>
    <a asp-action="Create" class="btn btn-primary">Оформить новый заём</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanTerm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterestRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanTerm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LoanId" class="btn btn-sm btn-outline-primary">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@item.LoanId" class="btn btn-sm btn-outline-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>